name: android gcc builds

on:
  schedule:
    - cron: '0 0 1 * *'

  push:
    branches :
      - master
    tags-ignore: ['**']

env:
  NDK_VERSION: 29

jobs:
  prepare_ndk:
    runs-on: ubuntu-latest
    steps:
      - name: cache ndk
        uses: actions/cache@v4
        id: ndk-cache
        with:
          path: /opt/ndk
          key: ${{ runner.os }}-ndk-r${{ env.NDK_VERSION }}
          restore-keys: ${{ runner.os }}-ndk-

      - name: download ndk
        run: |
            # 下载NDK
            wget -q https://dl.google.com/android/repository/android-ndk-r$NDK_VERSION-linux.zip
            unzip -q android-ndk-r$NDK_VERSION-linux.zip -d /opt/
            mv /opt/android-ndk-r$NDK_VERSION /opt/ndk
        if: steps.ndk-cache.outputs.cache-hit != 'true'

      - name: check clang
        run: |
          /opt/ndk/toolchains/llvm/prebuilt/linux-x86_64/bin/clang++ -v


  build_android_extra:
    strategy:
      fail-fast: false
      matrix:
        build_type: [RelWithDebInfo]
        target_abi: [arm64-v8a, armeabi-v7a, x86_64, x86]
    outputs:
      commit_id: ${{ steps.get_commit.outputs.commit_id }}
    runs-on: ubuntu-latest
    needs: [prepare_ndk]
    steps:
      - name: checkout libandroid-extra
        uses: actions/checkout@v5
        with:
          repository: yxj-github-437/libandroid-extra
          path: libandroid-extra-src

      - id: get_commit
        run: |
          cd libandroid-extra-src && echo "commit_id=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: cache sysroot
        uses: actions/cache@v4
        id: sysroot-cache
        with:
          path: /opt/android-build/sysroot
          key: ${{ runner.os }}-sysroot-${{ matrix.target_abi }}-${{ steps.get_commit.outputs.commit_id }}
          restore-keys: ${{ runner.os }}-sysroot-${{ matrix.target_abi }}-

      - name: restore ndk
        uses: actions/cache@v4
        with:
          path: /opt/ndk
          key: ${{ runner.os }}-ndk-r${{ env.NDK_VERSION }}
        if: steps.sysroot-cache.outputs.cache-hit != 'true'

      - name: build
        run: |
          cmake -S ${{ github.workspace }}/libandroid-extra-src \
            -B ${{ github.workspace }}/libandroid-extra-build \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DANDROID_PLATFORM=android-21 -DANDROID_ABI=${{ matrix.target_abi }} \
            -DANDROID_ARM_MODE=arm \
            --toolchain /opt/ndk/build/cmake/android.toolchain.cmake \
            --install-prefix /opt/android-build \
            -GNinja
          cmake --build ${{ github.workspace }}/libandroid-extra-build --config ${{ matrix.build_type }}
          cmake --install ${{ github.workspace }}/libandroid-extra-build

          if [[ ${{ matrix.target_abi }} == x86_64 ]]; then
            rm -rf ${{ github.workspace }}/libandroid-extra-build
            cmake -S ${{ github.workspace }}/libandroid-extra-src \
              -B ${{ github.workspace }}/libandroid-extra-build \
              -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
              -DANDROID_PLATFORM=android-21 -DANDROID_ABI=x86 \
              --toolchain /opt/ndk/build/cmake/android.toolchain.cmake \
              --install-prefix /opt/android-build \
              -GNinja
            cmake --build ${{ github.workspace }}/libandroid-extra-build --config ${{ matrix.build_type }}
            cmake --install ${{ github.workspace }}/libandroid-extra-build
          fi
        if: steps.sysroot-cache.outputs.cache-hit != 'true'

  build_gcc:
    strategy:
      fail-fast: false
      matrix:
        config:
          - {
            target: aarch64-linux-android,
            target_abi: arm64-v8a
          }
          - {
            target: arm-linux-androideabi,
            target_abi: armeabi-v7a
          }
          - {
            target: x86_64-linux-android,
            target_abi: x86_64
          }
          - {
            target: i686-linux-android,
            target_abi: x86
          }
    runs-on: ubuntu-latest
    needs: [prepare_ndk, build_android_extra]
    outputs:
      gcc-datestamp: ${{ steps.gcc_datestamp.outputs.datestamp }}
    steps:
      - name: restore sysroot
        uses: actions/cache@v4
        with:
          path: /opt/android-build/sysroot
          key: ${{ runner.os }}-sysroot-${{ matrix.config.target_abi }}-${{ needs.build_android_extra.outputs.commit_id }}
          restore-keys: ${{ runner.os }}-sysroot-${{ matrix.config.target_abi }}-

      - name: install system build tools
        run: |
            sudo apt-get update
            sudo apt-get install -y gettext gdc llvm lld libgmp-dev libmpfr-dev libmpc-dev libisl-dev \
                automake autoconf libtool autogen bison flex build-essential rustup

      - name: checkout
        uses: actions/checkout@v5

      - name: checkout gcc
        uses: actions/checkout@v5
        with:
          repository: gcc-mirror/gcc
          path: gcc-src

      - id: gcc_datestamp
        run: |
          echo "datestamp=$(cat gcc-src/gcc/DATESTAMP)" >> $GITHUB_OUTPUT

      - name: build
        run: |
          rustup target add ${{ matrix.config.target }} 
          ./build.sh --base-dir=/opt --jobs=4 --gcc-path=${{ github.workspace }}/gcc-src \
            --binutils-version=2.44 --enable-languages=c,c++,fortran,d,rust \
            --target=${{ matrix.config.target }} --host=${{ matrix.config.target }}

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.config.target }}-gcc
          path: /opt/gcc-install/*.tar.xz

  pre_release:
    runs-on: ubuntu-latest
    needs: build_gcc

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        path: ./
        merge-multiple: true

    - name: Create Pre-release
      uses: softprops/action-gh-release@v2
      with:
        files: "*.tar.xz"
        prerelease: true
        tag_name: gcc@${{ needs.build_gcc.outputs.gcc-datestamp }}
